h3= Feedback.human_attribute_name(:subject)
p= @feedback.subject

h3= Feedback.human_attribute_name(:body)
p= @feedback.body.html_safe

div#hide-block style="display:none;"
  #for_ajax
    = render 'feedback_form'


