@import "bootstrap-sprockets";
@import "bootstrap";

.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.panel-body.text-center {
  height: 400px!important;
  width: 100%;
}


.image_back1 {
  height: 100%!important;
  width: 30%;
}

.image_for_index {
  height: 100%!important;
  width: 100%;
}

.leftimg {
  float: left; /* Выравнивание по левому краю */
  margin: 10px 20px 10px 0; /* Отступы вокруг картинки */
}

body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
