@import "bootstrap-sprockets";
@import "bootstrap";

.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.panel-body.text-center {
  height: 400px!important;
  width: 100%;
}

.leftimg {
  float: left; /* Выравнивание по левому краю */
  margin: 10px 20px 10px 0; /* Отступы вокруг картинки */
}

body{margin-top:50px;}
.glyphicon {
  margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }


//#custom-search-form {
//  margin: 0;
//  margin-top: 5px;
//  padding: 0;
//
//  .search-query {
//    padding-right: 3px;
//    padding-right: 4px \9;
//    padding-left: 3px;
//    padding-left: 4px \9;
//    /* IE7-8 doesn't have border-radius, so don't indent the padding */
//    margin-bottom: 0;
//    -webkit-border-radius: 3px;
//    -moz-border-radius: 3px;
//    border-radius: 3px;
//    -webkit-transition: width  0.2s ease-in-out;
//    -moz-transition: width  0.2s ease-in-out;
//    -o-transition: width  0.2s ease-in-out;
//    transition: width  0.2s ease-in-out;
//  }
//  button {
//    border: 0;
//    background: none;
//    /** belows styles are working good */
//    padding: 2px 5px;
//    margin-top: 2px;
//    position: relative;
//    left: -28px;
//    /* IE7-8 doesn't have border-radius, so don't indent the padding */
//    margin-bottom: 0;
//    -webkit-border-radius: 3px;
//    -moz-border-radius: 3px;
//    border-radius: 3px;
//  }
//}
//
//.search-query:focus {
//  + button {
//    z-index: 3;
//  }
//  width: 260px;
//}


#search-btn {
  border: 0;
  background: none;
  position: relative;
  left: -3em;
}

#search-bar {
  width: 8em;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  padding-right: 1em;
  &:focus, &:hover {
    width: 15em;
  }
}