@import "bootstrap-sprockets";
@import "bootstrap";

.image_back {
  background-size: cover;
  height: 450px!important;
  width: 100%;
  padding: 5px;
  border: 1px solid #4597a8;
  margin-top:10px;
}

.image_back1 {
  background-size: cover;
  height: 100%!important;
  width: 30%;
}

.panel-body.text-center {
  background-size: cover;
}

.panel .panel-body {
  background-position: center;
}

.leftimg {
  float: left; /* Выравнивание по левому краю */
  margin: 10px 20px 20px 0; /* Отступы вокруг картинки */
}