@import "bootstrap-sprockets";
@import "bootstrap";

.panel-body.text-center {
  background-size: cover;
}

.panel .panel-body {
  background-position: center;
}

.leftimg {
  float: left; /* Выравнивание по левому краю */
  margin: 10px 20px 20px 0; /* Отступы вокруг картинки */
}