div.footer
  .container
    p Blog

    = link_to 'Контакты', contact_path
    = link_to 'Записи', posts_path
    = link_to 'Обо мне', about_path

/.footer
/  .container
/    /.col-md-5.contact-section
/    /  h4 Обратная связь
/    /  = render 'feedback'
/
/    .col-md-7.follow-us
/    h4 Follow Us
/    .social-icons
/      i.facebook
/      i.twitter
/      i.pinterest
/      i.googlepluse
/    p Hello
/    .copyright
/      p
/        = link_to 'Google', '#'
/    .clearfix
/
= link_to '#', id: 'toTop', style: 'display: block;' do
  span#toTopHover style="opacity: 1;"